body {
  text-align: center;
  background: var(--color-bg);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);    
  overflow-x: hidden;
}

::-webkit-scrollbar {  
  width: 8px;
  background-color: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 20px;
}