@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;    
  --color-bg: #13131a;
  --color-bg-box: #24242e;    
  --color-gray: #ffffff6e;
  --color-text: #ffffff;
  --color-heading: #ff9a47;
  --color-hover: #ffb774;
}